.dropDownProfile {
  max-height: 300px;
  overflow-y: auto;
}

.dropDownProfile::before {
  content: "";
  position: absolute;
  top: -1.4rem;
  left: -0.1rem;
  min-width: 200px;
  margin: 0 10px;
}